* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    background-color: #3e2c2c;
}

main{
    height: auto;
    background-color: #fbf8f8;
}




.table-container {
    margin: 10px 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.td-body  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* max-width: 5ch;
    min-width: 2ch; */
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.151);
}

footer{
    background-color: #edecec;
}